<button (click)="initScanClick()">Initialize Scan</button>
|
<button (click)="insert()">Insert</button>
|
<button (click)="download()">Download</button>
|
<button (click)="print()">Print</button>
|
<select [(ngModel)]="source">
  <option *ngFor="let option of sources; let i = index" [value]="i">{{option}}</option>
</select>
<button (click)="scan()">Scan</button>
|
<button (click)="upload()">Upload</button>
|
<hr />
<div *ngIf="visible">
  <div id="dwtcontrolContainer" style="float: left; margin-right:20px;"></div>
  <div id="dwtcontrolContainerLargeViewer" style="float: left;"></div>
</div>
